{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}
{% block menu %}
	{{ parent() }}
	<div>
		<div>Europe:
			{{ date|format_date(pattern="d/M/Y") }}</div>
		<div>America:
			{{ date|format_date(pattern="M/D/Y") }}</div>
		<div>China & Japan:
			{{ date|format_date(pattern="M/Y/d") }}</div>
	</div>
{% endblock %}
{% block body %}
<br>
	<div>
		<h1>About me</h1>
		<h2>My name is:
			{{name|title}}</h2>
	</div>
{% endblock %}
