{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}
{% block menu %}
	{{ parent() }}
	<div>
		<div>Europe: {{ date('now')|format_date(pattern="d/M/Y") }}</div>
		<div>America: {{ date('now')|format_date(pattern="M/D/Y") }}</div>
		<div>China & Japan: {{ date('now')|format_date(pattern="M/Y/d") }}</div>
	</div>
{% endblock %}
{% block body %}
<h1>About me</h1>
<h2>My name is: {{name|title}}</h2>
{% endblock %}
