{% extends 'base.html.twig' %}

{% block title %}
	About me
	{{title}}
{% endblock %}
{% block menu %}
	{{ parent() }}
	<div>
		<div>Europe: {{ date('now')|format_date(pattern="d/M/Y") }}</div>
		<div>America: {{ date('now')|format_date(pattern="M/D/Y") }}</div>
		<div>China & Japan: {{ date('now')|format_date(pattern="M/Y/d") }}</div>
	</div>
{% endblock %}{% block body %}
<style>
	.example-wrapper {
		margin: 1em auto;
		max-width: 800px;
		width: 95%;
		font: 18px / 1.5 sans-serif;
	}
	.example-wrapper code {
		background: #F5F5F5;
		padding: 2px 6px;
	}
</style>
<h1>About me</h1>
<h2>My name is:
	{{name|title}}</h2>
{% endblock %}
